/* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.home{
    height: 100vh;
    position: relative;
}

/* HEADER OF THE PAGE */

.main-head{
    background: #7990ac;
    position: sticky;
    top: 0;
    min-height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: top 0.3s;
}


.main-head .empty-div{
    /* background: yellowgreen; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
}

.main-head .name_logo{
    /* background: chocolate; */
    position: relative;
    min-width: 34vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head .name_logo #name{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-size: 2vmax;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.main-head .name_logo #name a{
    text-decoration: none;
    color: black;
}

.main-head nav{
    /* background: red; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head nav .nav-links{
    /* background: salmon; */
    position: relative;
    min-width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head nav .nav-links li{
    /* background: chartreuse; */
    position: relative;
    min-width: 7vw;
    list-style: none;
}

.main-head nav .nav-links li a{
    /* background: cornflowerblue; */
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    color: white;
    font-size: 1vmax;
}

.main-head nav ul li a::after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    left: 0%;
    height: 0.05rem;
    bottom: -0.5rem;
    background: rgb(255, 255, 255);
    transition: width 0.2s ease-in;
}

.main-head nav ul li a:hover:after{
    width: 100%;
}


/* CONTENT SECTION OF THE PAGE */

.section-gallery .blocks {
    border: 2rem solid rgb(204, 204, 204);
    background: rgba(0,0,0,0.2);
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(48, 7.5vh);
    grid-gap: 2rem;
    justify-content: stretch;
}

.section-gallery .blocks .block {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.section-gallery .blocks .block img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-gallery .blocks .block1{
    background: url(./02_Images/coming_soon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    position: relative;
    grid-column: 1/4;
    grid-row: 1/9;
}

.section-gallery .blocks .block2{
    background: url(./02_Images/werkzeuge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-column: 4/7;
    grid-row: 1/6;
}

.section-gallery .blocks .block3{
    background: url(./02_Images/coal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 65%;
    position: relative;
    grid-column: 7/11;
    grid-row: 1/6;
}

.section-gallery .blocks .block4{
    background: url(./02_Images/ring_cards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 45%;
    position: relative;
    grid-column: 1/4;
    grid-row: 9/13; 
}

.section-gallery .blocks .block5{
    background: url(./02_Images/ring_cut_closeup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-column: 4/8;
    grid-row: 6/13;
}

.section-gallery .blocks .block6{
    background: url(./02_Images/triangular_ring.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 8/11;
    grid-row: 6/13;
}

.section-gallery .blocks .block7{
    background: url(./02_Images/carmen_landing_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 1/8;
    grid-row: 13/17;
}

.section-gallery .blocks .block8{
    background: url(./02_Images/indian_gold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 8/11;
    grid-row: 13/17;
}

.section-gallery .blocks .block9{
    background: url(./02_Images/girl_black_earrings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 1/4;
    grid-row: 17/21;
}

.section-gallery .blocks .block10{
    background: url(./02_Images/desktop_landingpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 4/11;
    grid-row: 17/25;
}

.section-gallery .blocks .block11{
    background: url(./02_Images/simple_ring_model.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 1/4;
    grid-row: 21/25;
}

.section-gallery .blocks .block12{
    background: url(./02_Images/black_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 1/4;
    grid-row: 25/29;
}

.section-gallery .blocks .block13{
    background: url(./02_Images/vertical_girl_neck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 4/8;
    grid-row: 25/33;
}

.section-gallery .blocks .block14{
    background: url(./02_Images/black_right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 8/11;
    grid-row: 25/29;
}

.section-gallery .blocks .block15{
    background: url(./02_Images/vertical_set.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 1/4;
    grid-row: 29/37;
}

.section-gallery .blocks .block16{
    background: url(./02_Images/earrings_set.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 8/11;
    grid-row: 29/33;
}

.section-gallery .blocks .block17{
    background: url(./02_Images/horizontal_rings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
    grid-column: 4/11;
    grid-row: 33/37;
}

.section-gallery .blocks .block18{
    background: url(./02_Images/horizontal_black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    position: relative;
    grid-column: 1/8;
    grid-row: 37/41;
}

.section-gallery .blocks .block19{
    background: url(./02_Images/right_ring_model.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
    grid-column: 8/11;
    grid-row: 37/45;
}

.section-gallery .blocks .block20{
    background: url(./02_Images/ring_model.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
    grid-column: 1/4;
    grid-row: 41/49;
}

.section-gallery .blocks .block21{
    background: url(./02_Images/double_color_vertical.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    grid-column: 4/8;
    grid-row: 41/45;
}

.section-gallery .blocks .block22{
    background: url(./02_Images/woman_neck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    position: relative;
    grid-column: 4/8;
    grid-row: 45/50;
}

.section-gallery .blocks .block23{
    background: url(./02_Images/clean_desk_wallhangers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
    grid-column: 8/11;
    grid-row: 45/49;
}

/* FOOTER OF THE PAGE */

.main-foot{
    background: #7990ac;
    position: relative;
    top: 0%;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta{
    /* background: rgb(87, 43, 65); */
    position: relative;
    width: 95vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta .name-legal{
    /* background: white; */
    font-size: 0.35vmax;
    margin: 1rem 2rem;
}

.main-foot .nameandinsta .instagram{
    /* background: seagreen; */
    padding: 0.75rem 1rem;
}

.main-foot .instagram {
    margin: 0vmax 2vmax;
}

.main-foot  .instagram img{
    max-height: 1.5vmax;
}


/* MEDIA QUERIES AND MOBILE/TABLET RESPONSIVENESS */

@media only screen and (max-width: 1200px){

    /* FULL WEBSITE */

    html,body{
        overflow-x: hidden; 
    }

    /* HEADER OF THE PAGE */

    .main-head{
        position: relative;
        top: 0%;  
    }

    .main-head .empty-div{
        min-width: 0vw;
    }

    .main-head .name_logo{
        min-width: 80vw;
    }

    .main-head .name_logo #name{
        font-size: 2.8vmax;
        margin-left: 5vw;
        padding: 0rem 1.25rem;
    }

    .main-head nav{
        position: relative;
        min-width: 21vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-head nav .hamburger{
        position: relative;
        min-width: 8vw;
        min-height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
        cursor: pointer;
    }
    
    .main-head nav .hamburger div{
        transition: all 0.15s ease;
    }
    .main-head nav .hamburger .line1,
    .main-head nav .hamburger .line2,
    .main-head nav .hamburger .line3 {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        border-radius: 10px;
    }

    .main-head nav .hamburger .line1{
        top: 0%;
    }
    .main-head nav .hamburger .line2{
        top: 44%;
    }
    .main-head nav .hamburger .line3{
        top: 88%;
    } 

    .main-head nav .nav-links{
        position: absolute;
        font-size: 5vmax;
        top: 14.9vh;
        right: 0%;
        min-width: 101vw;
        min-height: 85.4vh;
        background: rgba(0, 0, 0, 0.8); 
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
        z-index: 10;
    }

    .main-head nav .nav-links li{
        position: relative;
        top: -3vh;
        opacity: 0;
    }

    .main-head nav .nav-links li a{
        font-size: 3.0vmax;
    }

    .main-head nav ul .nav-links.open{
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path:circle(100px at 90% -10%);
    }

  
    /* CONTENT SECTION OF THE PAGE */

    .section-gallery .blocks {
        border: 2rem solid rgb(204, 204, 204);
        background: rgba(0,0,0,0.2);
        min-height: 90vh;
        display: grid;
        grid-template-rows: repeat(59, 7.5vh);
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.0rem;
    }
    
    .section-gallery .blocks .block1{
        grid-row: 1/5;
        grid-column: 1/7;
    }
    
    .section-gallery .blocks .block2{
        grid-row: 1/4;
        grid-column: 7/13;
    }
    
    .section-gallery .blocks .block3{
        grid-row: 5/8;
        grid-column: 1/7;
    }
    
    .section-gallery .blocks .block4{
        background: url(./02_Images/ring_cards.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 65% 100%;
        grid-row: 4/8;
        grid-column: 7/13; 
    }

    .section-gallery .blocks .block5{
        grid-row: 8/12;
        grid-column: 1/8;
    }
    
    .section-gallery .blocks .block6{
        grid-row: 8/12;
        grid-column: 8/13;
    }

    .section-gallery .blocks .block7{
        grid-row: 12/21;
        grid-column: 1/6;
    }

    .section-gallery .blocks .block8{
        grid-row: 12/15;
        grid-column: 6/13; 
    }

    .section-gallery .blocks .block9{
        grid-row: 21/24;
        grid-column: 1/6;
    }

    .section-gallery .blocks .block10{
        grid-row: 15/24;
        grid-column: 6/13;
    }

    .section-gallery .blocks .block11{
        grid-row: 24/28;
        grid-column: 1/7;
    }

    .section-gallery .blocks .block12{
        grid-row: 24/32;
        grid-column: 7/13;
    }

    .section-gallery .blocks .block13{
        grid-row: 28/32;
        grid-column: 1/7;
    }

    .section-gallery .blocks .block14{
        grid-row: 32/36;
        grid-column: 1/6;
    }

    .section-gallery .blocks .block15{
        grid-row: 32/36;
        grid-column: 6/13;
    }

    .section-gallery .blocks .block16{
        grid-row: 36/44;
        grid-column: 1/6;
    }

    .section-gallery .blocks .block17{
        grid-row: 36/40;
        grid-column: 6/13;
    }

    .section-gallery .blocks .block18{
        grid-row: 44/48;
        grid-column: 1/6;
    }

    .section-gallery .blocks .block19{
        grid-row: 40/48;
        grid-column: 6/13;
    }

    .section-gallery .blocks .block20{
        grid-row: 48/52;
        grid-column: 1/13;
    }

    .section-gallery .blocks .block21{
        grid-row: 52/64;
        grid-column: 1/7;
    }

    .section-gallery .blocks .block22{
        grid-row: 52/56;
        grid-column: 7/13;
    }

    .section-gallery .blocks .block23{
        grid-row: 56/60;
        grid-column: 7/13;
    }
    

    /* FOOTER SECTION */

    .main-foot .nameandinsta{
        width: 95vw;
    }

    .main-foot .name-legal h1{
        font-size: 1.15vmax;
    }

    .main-foot  .instagram img{
        max-height: 3vmax;
    }

}


/* FUNCTIONS FOR JAVASCRIPT */

.main-head nav .nav-active{
    transform: translateX(0%);
    position: fixed;
}

.home .block-scroll {
    overflow: hidden;
    position: fixed;
}

.home-div .hide-navbar{
    top: -20vh;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform:  translateY(365%) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-365%) rotate(45deg);
}


