/* Global styles */
@font-face {
    font-family: 'Montserrat';
    src: url('./00_Fonts/Webfonts/Montserrat-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('./00_Fonts/Webfonts/Montserrat-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.home{
    height: 100vh;
    position: relative;
}

/* HEADER OF THE PAGE */

.main-head-about{
    background: #7990ac;
    position: relative;
    top: 0%;
    min-height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.main-head-about .empty-div{
    /* background: yellowgreen; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
}

.main-head-about .name_logo{
    /* background: chocolate; */
    position: relative;
    min-width: 34vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head-about .name_logo #name{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-size: 2vmax;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.main-head-about .name_logo #name a{
    text-decoration: none;
    color: black;
}

.main-head-about .nav-menu{
    /* background: red; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head-about .nav-menu .nav-links{
    /* background: salmon; */
    position: relative;
    min-width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head-about .nav-menu .nav-links li{
    /* background: chartreuse; */
    position: relative;
    min-width: 7vw;
    list-style: none;
}

.main-head-about .nav-menu .nav-links li a{
    /* background: cornflowerblue; */
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    color: white;
    font-size: 1vmax;
}

.main-head-about .nav-menu ul li a::after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    left: 0%;
    height: 0.05rem;
    bottom: -0.5rem;
    background: rgb(255, 255, 255);
    transition: width 0.2s ease-in;
}

.main-head-about .nav-menu ul li a:hover:after{
    width: 100%;
}


/* CONTENT SECTION OF THE PAGE */

.section-about{
    color: white;
    /* background: greenyellow; */
    position: relative;
    min-height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-about .about-info{
    background: url(./02_Images/Silversmith_Landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-about .about-info .about-photo,
.section-about .about-info .about-txt{
    position: relative;
    width: 50vw;
    min-height: 75vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section-about .about-info .about-txt .txt{
    min-height: 70vh;
    margin-top: 1vmax; 
    margin-bottom: 1vmax; 
    margin-left: 1vmax;
    margin-right: 1vmax;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .85);
    background: transparent;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-about .about-info .about-txt .txt h1{
    margin: 2vmax;
    font-size: 1.75vmax;
}

.section-about .about-info .about-txt .txt p{
    margin: 0.5vmax 4.5vmax;
    font-size: 1.25vmax;
    color: black;
    font-weight: bold;
}
    

/* FOOTER OF THE PAGE */

.main-foot{
    background: #7990ac;
    position: relative;
    top: 0%;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta{
    /* background: rgb(87, 43, 65); */
    position: relative;
    width: 95vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta .name-legal{
    /* background: white; */
    font-size: 0.35vmax;
    margin: 1rem 2rem;
}

.main-foot .nameandinsta .instagram{
    /* background: seagreen; */
    padding: 0.75rem 1rem;
}

.main-foot .instagram {
    margin: 0vmax 2vmax;
}

.main-foot  .instagram img{
    max-height: 1.5vmax;
}


/* MEDIA QUERIES AND MOBILE/TABLET RESPONSIVENESS */

@media only screen and (max-width: 1200px){

    /* FULL WEBSITE */

    html,body{
        overflow-x: hidden; 
    }

    /* HEADER OF THE PAGE */

    .main-head-about .empty-div{
        min-width: 0vw;
    }

    .main-head-about .name_logo{
        min-width: 80vw;
    }

    .main-head-about .name_logo #name{
        font-size: 2.8vmax;
        margin-left: 5vw;
        padding: 0rem 1.25rem;
    }

    .main-head-about .nav-menu{
        position: relative;
        min-width: 21vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-head-about .nav-menu .hamburger{
        position: relative;
        min-width: 8vw;
        min-height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
        cursor: pointer;
    }
    
    .main-head-about .nav-menu .hamburger div{
        transition: all 0.15s ease;
    }
    .main-head-about .nav-menu .hamburger .line1,
    .main-head-about .nav-menu .hamburger .line2,
    .main-head-about .nav-menu .hamburger .line3 {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        border-radius: 10px;
    }

    .main-head-about .nav-menu .hamburger .line1{
        top: 0%;
    }
    .main-head-about .nav-menu .hamburger .line2{
        top: 44%;
    }
    .main-head-about .nav-menu .hamburger .line3{
        top: 88%;
    } 

    .main-head-about .nav-menu .nav-links{
        position: absolute;
        font-size: 5vmax;
        top: 14.9vh;
        right: 0%;
        min-width: 101vw;
        min-height: 85.1vh;
        background: rgba(0, 0, 0, 0.8); 
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .main-head-about .nav-menu .nav-links li{
        position: relative;
        top: -3vh;
        opacity: 0;
    }

    .main-head-about .nav-menu .nav-links li a{
        font-size: 3.0vmax;
    }
  
    /* CONTENT SECTION OF THE PAGE */

    .section-about .about-info{
        background-position: 50%;
    }

    .section-about .about-info .about-photo,
    .section-about .about-info .about-txt{
        width: 100vw;
        min-height: 70vh;
    }

    .section-about .about-info .about-txt .txt h1{
        min-width: 100%;
        margin-top: 0vmax;
        margin-left: 0vmax;
        margin-right: 0vmax;
        padding: 0vmax;
        font-size: 2.85vmax;
    }
    
    .section-about .about-info .about-txt .txt p{
        font-size: 1.75vmax;
        color: white;
        font-weight: normal;
        text-align: center;
        text-justify: inter-word;
    }

    /* FOOTER SECTION */

    .main-foot .nameandinsta{
        width: 95vw;
    }

    .main-foot .name-legal h1{
        font-size: 1.15vmax;
    }

    .main-foot  .instagram img{
        max-height: 3vmax;
    }

}


/* FUNCTIONS FOR JAVASCRIPT */

.main-head-about .nav-menu .nav-active{
    transform: translateX(0%);
    position: fixed;  
}

.main-head-about .block-scroll{
    overflow: hidden;
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform:  translateY(365%) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-365%) rotate(45deg);
}


