/* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.home{
    height: 100vh;
    position: relative;
}

/* HEADER OF THE PAGE */

.main-head{
    background: #7990ac;
    position: relative;
    top: 0%;
    min-height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.main-head .empty-div{
    /* background: yellowgreen; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
}

.main-head .name_logo{
    /* background: chocolate; */
    position: relative;
    min-width: 34vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head .name_logo #name{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-size: 2vmax;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.main-head .name_logo #name a{
    text-decoration: none;
    color: black;
}

.main-head nav{
    /* background: red; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head nav ul{
    /* background: salmon; */
    position: relative;
    min-width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.main-head nav ul li{
    /* background: chartreuse; */
    position: relative;
    min-width: 7vw;
}

.main-head nav ul li a{
    /* background: cornflowerblue; */
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    color: white;
    font-size: 1vmax;
}

.main-head nav ul li a::after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    left: 0%;
    height: 0.05rem;
    bottom: -0.5rem;
    background: rgb(255, 255, 255);
    transition: width 0.2s ease-in;
}

.main-head nav ul li a:hover:after{
    width: 100%;
}


/* CONTENT SECTION OF THE PAGE */

.section-contact{
    color: white;
    /* background: greenyellow; */
    position: relative;
    min-height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact .mapandform{
    background: rgb(211, 211, 211);
    position: relative;
    width: 100vw;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.section-contact .mapandform .map,
.section-contact .mapandform .form{
    position: relative;
    margin-top: 1vh;
    margin-bottom: 5vh;
    min-width: 50vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section-contact .mapandform .form{
    /* background: yellow; */
}

.section-contact .mapandform .map iframe{
    position: relative; 
    min-height: 50vh;
    width: 100%;
    left: 20%;
    
}
 
.section-contact .mapandform .form .formtitle{
    /* background: cyan; */
    position: relative;
    margin-top: max(1vh,5vw);
    /* margin-bottom: 1rem; */
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vmax;
    color: black;
}

.section-contact .mapandform .form .formtitle h2{
    /* background: red; */
}


.section-contact .mapandform .form .formbox{
    /* background: darkgoldenrod; */
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section-contact .mapandform .form .formbox form{
    /* background: cornflowerblue; */
    position: relative;
    width: 70%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-contact .mapandform .form .formbox form .form-inputs{
    /* background: red; */
    position: relative;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-contact .mapandform .form .formbox form .form-button{
    /* background: yellow; */
    position: relative;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-contact .mapandform .form .formbox form .form-inputs .form-name,
.section-contact .mapandform .form .formbox form .form-inputs .form-email,
.section-contact .mapandform .form .formbox form .form-inputs .form-message {
    /* background: green; */
    position: relative;
    width: 100%;
    bottom: 0%;
    margin-top: 0vh;
    margin-bottom: 3vh;
    min-height: 7vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap-reverse;
} 

.form .form-name input,
.form .form-email input,
.form .form-message input {
    background: none;
    /* background: lightsalmon; */
    position: absolute;
    width: 100%;
    bottom: 0%;
    min-height: 7vh;
    font-size: 1vmax;
    padding-top: 10vh;
    padding-bottom: 0.25vh;
    border: none;
    outline: none;
} 

.form .form-name label,
.form .form-email label,
.form .form-message label{
    /* background: hotpink; */
    position: absolute;
    font-size: 1vmax;
    font-weight: bolder;
    top: 0%;
    width: 100%;
    min-height: 7vh;
    left: 0%;
    color: black;
    pointer-events: none;
    border-bottom: 0.1rem solid black;
}

.form .form-name label::after,
.form .form-email label::after,
.form .form-message label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: -3.25%;
    border-bottom: 0.23rem solid #5fa8d3;
    transition: transform 0.25s;
    transform: translateX(-100%);
} 

.content-name,
.content-email,
.content-message{
    position: absolute;
    bottom: 5%;
    transition: all 0.25s ease;
    overflow-wrap: break-words;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name,
.form input:focus + .label-email .content-email,
.form input:valid + .label-email .content-email,
.form input:focus + .label-message .content-message,
.form input:valid + .label-message .content-message{
    transform: translateY(-150%);
    font-size: 0.75vmax;
    color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after,
.form input:focus + .label-email::after,
.form input:valid + .label-email::after,
.form input:focus + .label-message::after,
.form input:valid + .label-message::after{
    transform: translateX(0%);
} 

.section-contact .mapandform .form .formbox button{
    position: relative;
    min-width: 5vw;
    margin: 0.25rem 1.25rem;
    padding: 0.35rem 1.15rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    background: #4c6e97;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vmax;
    cursor: pointer;
}

.section-contact .mapandform .form .formbox button:hover{
    background: #304053;
}

/* FOOTER OF THE PAGE */

.main-foot{
    background: #7990ac;
    position: relative;
    top: 0%;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta{
    /* background: rgb(87, 43, 65); */
    position: relative;
    width: 95vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.main-foot .nameandinsta .name-legal{
    /* background: white; */
    font-size: 0.35vmax;
    margin: 1rem 2rem;
}

.main-foot .nameandinsta .instagram{
    /* background: seagreen; */
    padding: 0.75rem 1rem;
}

.main-foot  .instagram img{
    max-height: 1.5vmax;
}


/* MEDIA QUERIES AND MOBILE/TABLET RESPONSIVENESS */

@media only screen and (max-width: 1200px){

    /* FULL WEBSITE */

    html, body{
        overflow-x: hidden;
    }

    /* HEADER OF THE PAGE */

    .main-head .empty-div{
        min-width: 0vw;
    }

    .main-head .name_logo{
        min-width: 80vw;
    }

    .main-head .name_logo #name{
        font-size: 2.8vmax;
        margin-left: 5vw;
        padding: 0rem 1.25rem;
    }

    .main-head nav{
        min-width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-head nav .nav-links{
        position: absolute;
        font-size: 5vmax;
        top: 14.9vh;
        right: 0%;
        min-width: 101vw;
        min-height: 85.4vh;
        background: rgba(0, 0, 0, 0.8); 
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
        z-index: 10;
    }

    .main-head nav .nav-links li{
        position: relative;
        top: -3vh;
        opacity: 0;
    }

    .main-head nav .nav-links li a{
        font-size: 3.0vmax;
    }

    .main-head nav ul .nav-links.open{
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path:circle(100px at 90% -10%);
    }

    .main-head nav .hamburger{
        position: relative;
        min-width: 8vw;
        min-height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        cursor: pointer;
    }

    .main-head nav .hamburger .line1,
    .main-head nav .hamburger .line2,
    .main-head nav .hamburger .line3 {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        border-radius: 10px;
    }

    .main-head nav .hamburger .line1{
        top: 0%;
    }
    .main-head nav .hamburger .line2{
        top: 44%;
    }
    .main-head nav .hamburger .line3{
        top: 88%;
    }  

    /* CONTENT SECTION OF THE PAGE */

    .section-contact .mapandform .map,
    .section-contact .mapandform .form{
        width: 100%;
        margin-top: 0vh;
    }

    .section-contact .mapandform .form{
        min-height: max(65vh,65vw);
    }

    .section-contact .mapandform .map{
        margin-bottom: 0vh; 
        min-height: max(50vh,50vw);
    }

    .section-contact .mapandform .map iframe{
        height: max(50vh,50vw);
        width: 100%;
        left: 0%;
    }

    .section-contact .mapandform .form .formtitle{
        font-size: 2vmax;
    }

    .section-contact .mapandform .form .formbox form .form-inputs{
        /* background: red; */
        min-height: max(45vh,45vw);
    }

    .section-contact .mapandform .form .formbox form .form-inputs .form-name,
    .section-contact .mapandform .form .formbox form .form-inputs .form-email,
    .section-contact .mapandform .form .formbox form .form-inputs .form-message {
        /* background: green; */
        margin-bottom: max(3vh,6vw);
        min-height: max(12vh,9vw);
    } 

    .form .form-name input,
    .form .form-email input,
    .form .form-message input {
        background: none;
        /* background: lightsalmon; */
        bottom: 5vh;
        min-height: 7vh;
        font-size: 1.75vmax;
        padding-top: 10vh;
    } 

    .form .form-name label,
    .form .form-email label,
    .form .form-message label{
        /* background: magenta; */
        min-height: max(7vh,7vw);
        font-size: 2vmax;
        border-bottom: 0.25vmin solid black; 
    }

    .form .form-name label::after,
    .form .form-email label::after,
    .form .form-message label::after {
        bottom: -0.4vmin;
        border-bottom: 0.55vmin solid #5fa8d3;
    } 

    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name,
    .form input:focus + .label-email .content-email,
    .form input:valid + .label-email .content-email,
    .form input:focus + .label-message .content-message,
    .form input:valid + .label-message .content-message{
        transform: translateY(-150%);
        font-size: 1.7vmax;
    }

    .section-contact .mapandform .form .formbox button{
        padding: 0.15vmax 2.75vmax;
        font-size: 2.75vmax;
    } 

    /* FOOTER SECTION */

    .main-foot .nameandinsta{
        width: 95vw;
    }

    .main-foot .name-legal h1{
        font-size: 1.15vmax;
    }

    .main-foot .instagram {
        margin: 0vmax 2vmax;
    }

    .main-foot  .instagram img{
        max-height: 3vmax;
    }

}


/* FUNCTIONS FOR JAVASCRIPT */

.main-head nav .nav-active{
    transform: translateX(0%);
    position: fixed;
}

.home .block-scroll {
    overflow: hidden;
    position: fixed;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    /* transform:  translateY(40%) rotate(-45deg); */
    transform:  translateY(365%) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-365%) rotate(45deg);
}


