  /* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.home{
    background: url(./02_Images/desktop_landingpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
    min-height: 100vh;
    position: relative;
}

.main-head-home{
    /* background: blue; */
    position: relative;
    top: 0%;
    min-height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-head-home .empty-div{
    /* background: yellowgreen; */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
}

.main-head-home .name_logo{
    /* background: chocolate; */
    position: relative;
    min-width: 34vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 2rem; */
}

.main-head-home .name_logo #name{
    /* background: yellow; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-size: 2vmax;
    border-style: solid;
    border-color: black;
    border-width: thin; 
}

.main-head-home .name_logo #name a{
    text-decoration: none;
    color: black;
}

.main-head-home nav{
    /* background: rgb(196, 144, 187); */
    position: relative;
    min-width: 33vw;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head-home nav ul{
    /* background: salmon; */
    position: relative;
    min-width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 10;
}

.main-head-home nav ul li{
    /* background: chartreuse; */
    position: relative;
    min-width: 7vw;
}

.main-head-home nav ul li a{
    /* background: cornflowerblue; */
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    color: white;
    font-size: 1vmax;
}

.main-head-home nav ul li a::after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    left: 0%;
    height: 0.05rem;
    bottom: -0.5rem;
    background: rgb(255, 255, 255);
    transition: width 0.2s ease-in;
}

.main-head-home nav ul li a:hover:after{
    width: 100%;
}

.section-home{
    /* background: whitesmoke; */
    color: white;
    position: relative;
    top: 0%;
    min-height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-home .sectiondiv{
    position: relative;
    min-height: 75vh;
}

.section-home .homedivstop,
.section-home .homedivsbottom{
    /* background: chartreuse; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 37.5vh;
}

.section-home .homedivstop{
    /* background: blue; */
}


.section-home .homeinfo{
    /* background: slateblue; */
    position: relative;
    min-width: 80vw;
    height: auto;
    display: wrap;
    align-self: center;
    justify-content: center;
    padding-bottom: 13rem;
    padding-top: 3rem;
}

.section-home .homeinfo h2{
    /* background: rosybrown; */
    font-size: 1.75vmax;
}

.section-home .discovernow{
    /* background: yellow; */
    position: relative;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.section-home .discovernow a{
    background: #7990ac;
    font-size: 1.35vmax;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.discovernow a:hover{
    background: #304053;
}

.main-foot-home{
    /* background: red; */
    position: relative;
    bottom: 0%;
    min-height: 10vh;
    width: 100vw;
    font-size: 0.30vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foot-home .name-legal-home{
    position: relative;
}


/* MEDIA QUERIES AND MOBILE/TABLET RESPONSIVENESS */


@media only screen and (max-width: 1350px){

    /* FULL WEBSITE */

    html, body{
        overflow-x: hidden;
    }
        
    /* HOME SECTION */
    .home{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45% 50%;
        min-height: 100vh;
    }

    .main-head-home .empty-div{
        /* background: turquoise; */
        min-width: 0vw;
    }

    .main-head-home .name_logo{
        /* background: yellow; */
        min-width: 80vw;
    }

    .main-head-home .name_logo #name{
        font-size: 2.8vmax;
        margin-left: 5vw;
        padding: 0rem 1.25rem;
    }

    .main-head-home nav{
        /* background: red; */
        min-width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-head-home nav .nav-links{
        position: absolute;
        font-size: 5vmax;
        top: 14.9vh;
        right: 0%;
        min-width: 101vw;
        min-height: 85.1vh;
        background: rgba(0, 0, 0, 0.8); 
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .main-head-home nav .nav-links li{
        position: relative;
        top: -3vh;
        opacity: 0;
    }

    .main-head-home nav .nav-links li a{
        font-size: 3.0vmax;
    }

    .main-head-home nav ul .nav-links.open{
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path:circle(100px at 90% -10%);
    }

    .main-head-home nav .hamburger{
        /* background: blue; */
        position: relative;
        min-width: 8vw;
        min-height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        cursor: pointer;
    }

    .main-head-home nav .hamburger .line1,
    .main-head-home nav .hamburger .line2,
    .main-head-home nav .hamburger .line3 {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        border-radius: 10px;
    }

    .main-head-home nav .hamburger .line1{
        top: 0%;
        /* background: blue; */
    }
    .main-head-home nav .hamburger .line2{
        top: 44%;
    }
    .main-head-home nav .hamburger .line3{
        top: 88%;
        /* background: green; */
    }

    .section-home .homeinfo{
        width: 90vw;
    }

    .section-home .homeinfo h2{
        padding: 2rem;
        font-size: 2.8vmax;
    }

    .section-home .discovernow{
        width: 45vw;
    }
    .section-home .discovernow a{
        font-size: 2.5vmax;
        padding: 0.5rem 1.5rem;
    }
    
    /* FOOTER SECTION */

    .main-foot-home .name-legal-home{
        font-size: 0.6vmax;
        margin: 2rem 0rem;
    }
    
}


/* FUNCTIONS FOR JAVASCRIPT */

.main-head-home nav .nav-active{
    transform: translateX(0%);
    position: fixed;
}

.block-scroll {
    position: fixed;
    overflow: hidden;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform:  translateY(365%) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-365%) rotate(45deg);
}


