/* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.home{
    background: url(./02_Images/coming_soon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 100vh;
    position: relative;
}

.main-head{
    /* background: blue; */
    position: relative;
    top: 0%;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#name_logo{
    /* background: chocolate; */
    border-style: solid;
    border-color: black;
    border-width: thin;
    position: absolute;
    width: 25vw;
    left: 37.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name_logo img{
    margin-right: 2rem;
    max-height: 70px;
}

#name{
    font-size: 5.5rem
}


.section-home{
    color: white;
    /* background: greenyellow; */
    position: relative;
    top: 0%;
    min-height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.section-home .homedivs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home .homedivs .homeinfo{
    /* background: rgb(123, 127, 134); */
    position: absolute;
    top: 5%;
    width: 70vw;
    left: 15vw;
    display: wrap;
    align-self: center;
    justify-content: center;
}


.section-home .homedivs .homeinfo h2{
    font-size: 5.0rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
}

.section-home .homedivs .homeinfo h3{
    font-size: 3.0rem;
    padding-top: 10rem;
}

.section-home .homedivs .meantime{
    /* background: darkgreen; */
    position: absolute;
    top: 65%;
    width: 70vw;
    left: 15vw;

}

.section-home .homedivs .meantime h4{
    font-size: 4.5rem;
    padding: 2rem;
}

.section-home .homedivs .instagram{
    /* background: darksalmon; */
    position: absolute;
    top: 75%;
    width: 70vw;
    left: 15vw;
}
.section-home .homedivs .instagram img{
    max-height: 100px;
}


.main-foot{
    /* background: red; */
    position: relative;
    bottom: 0%;
    min-height: 10vh;
    width: 100vw;
    /* background: rgba(0,0,0,0.2); */
    font-size: 12px;
}

.main-foot .name-legal{
    /* background: white; */
    position: absolute;
    top: 40%;
    right: 20%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* MEDIA QUERIES AND MOBILE/TABLET RESPONSIVENESS */


@media only screen and (max-width: 1200px){

    /* FULL WEBSITE */

    html, body{
        overflow-x: hidden;
    }
        
    /* HOME SECTION */
    .home{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45% 50%;
        min-height: 100vh;
    }

    .home #name_logo{
        width: 70vw;
        left: 15vw;
    }

    .section-home .homedivs .homeinfo{
        width: 90vw;
        left: 5vw;
        top: 2%;
    }

    .section-home .homedivs .homeinfo h2{
        font-size: 5.5rem;
        font-weight: bold;
    }
    
    .section-home .homedivs .homeinfo h3{
        font-size: 3.5rem;
        padding: 16rem;
    }

    .section-home .homedivs .meantime{
        position: absolute;
        top: 72.5%;
        width: 70vw;
        left: 15vw;
    }
    
    .section-home .homedivs .meantime h4{
        font-size: 5rem;
        padding: 2rem;
    }
    
    .section-home .homedivs .instagram{
        position: absolute;
        top: 82.5%;
        width: 70vw;
        left: 15vw;
    }


    .section-home .homedivs .instagram img{
        max-height: 100px;
    }
    

    /* FOOTER SECTION */

    .main-foot .name-legal{
        top: 40%;
        right: 2.5%;
        left: 2.5%;
    }
    
}




